{% extends 'projects/show.html.twig' %}

{% block content %}
    <section class="flex mt-8 gap-16">
        <section class="w-2/3">
            <div class="flex border-b border-secondary pb-6">
                <div class="space-y-1">
                    <h2 class="text-primary font-semibold text-lg">Project overview</h2>
                    <p class="text-tertiary font-normal text-sm">A overview of the project, goals and outcomes.</p>
                </div>
            </div>
            <article class="mt-6 w-2/3 markdown">
                {{ project.description|raw }}
            </article>
            <div class="mt-6">
                <div class="flex border-b border-secondary pb-6">
                    <div class="space-y-1">
                        <h2 class="text-primary font-semibold text-lg">Project steps</h2>
                        <p class="text-tertiary font-normal text-sm">
                            A list of steps that need to be taken to complete the project.
                        </p>
                    </div>
                </div>
                <div class="space-y-4 mt-6">
                    {% for step in project.projectSteps %}
                        <div>
                            <h3 class="text-primary font-semibold text-lg">{{ step.type }}</h3>
                            <p class="text-tertiary">{{ step.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="w-1/3 rounded-2xl border border-secondary p-6 space-y-6">
            <div class="flex pb-5 border-b border-secondary">
                <h2 class="text-primary font-semibold text-lg">Recent activity</h2>
            </div>
            {% for log in project.projectLogs|reverse %}
                <div class="flex gap-3 items-center w-full">
                    <div class="relative min-w-12">
                        {% if log.student.profilePicture %}
                            <img src="{{ log.student.profilePicture }}" alt="Profile picture" class="rounded-full aspect-square object-cover h-12 w-12" />
                        {% else %}
                            <div class="rounded-full bg-secondary flex items-center justify-center h-12 w-12">
                                {{ log.student.firstName|first }}{{ log.student.lastName|first }}
                            </div>
                        {% endif %}
                        <div class="absolute bottom-0 right-0 bg-green-600 border-2 border-white h-3 w-3 rounded-full"></div>
                    </div>
                    <div class="space-y-px w-full">
                        <div class="flex gap-2 items-center relative">
                            <p class="text-secondary font-medium text-sm">{{ log.student.firstName }} {{ log.student.lastName }}</p>
                            <p class="text-tertiary text-xs">{{ log.createdAt|date }}</p>
                            <div class="absolute top-0 right-0 bg-green-600 rounded-full h-2.5 w-2.5"></div>
                        </div>
                        <p class="text-tertiary text-sm font-normal">
                            {{ log.description }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}
