{% extends 'base.html.twig' %}

{% block title %}Grades{% endblock %}

{% block body %}
    <main class="h-full w-full flex items-center">
        <twig:Sidebar/>

        <section class="h-full flex flex-col flex-grow pt-8 px-8 ml-[320px]">
            <div class="flex items-center gap-2">
                <a href="#" class="rounded-md p-1 hover:bg-secondary">
                    <svg class="h-5 w-5 text-quarternary" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 17H16M11.0177 2.764L4.23539 8.03912C3.78202 8.39175 3.55534 8.56806 3.39203 8.78886C3.24737 8.98444 3.1396 9.20478 3.07403 9.43905C3 9.70352 3 9.9907 3 10.5651V17.8C3 18.9201 3 19.4801 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4801 21 18.9201 21 17.8V10.5651C21 9.9907 21 9.70352 20.926 9.43905C20.8604 9.20478 20.7526 8.98444 20.608 8.78886C20.4447 8.56806 20.218 8.39175 19.7646 8.03913L12.9823 2.764C12.631 2.49075 12.4553 2.35412 12.2613 2.3016C12.0902 2.25526 11.9098 2.25526 11.7387 2.3016C11.5447 2.35412 11.369 2.49075 11.0177 2.764Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <svg class="h-4 w-4 text-senary" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a class="px-2 py-1 rounded-md hover:bg-secondary text-secondary font-semibold text-sm" href="{{ path('app_grades') }}">
                    Grades
                </a>
            </div>
            <div class="flex items-center justify-between mt-6">
                <h1 class="text-primary font-semibold text-3xl">Grades</h1>
                <div class="flex gap-2 items-center">
                    <a href="{{ path('app_grades_sync') }}"
                       class="group px-3.5 py-2.5 text-secondary font-semibold border border-primary rounded-lg custom-shadow-xs-skeuomorphic transition-all ease-in-out duration-200 hover:bg-secondary">
                        Sync with MyGES
                    </a>
                    <button class="bg-orange-600 hover:bg-orange-700 transition-all ease-in-out duration-200 rounded-lg py-2.5 px-4 flex justify-center items-center gap-1.5 text-white font-semibold">
                        Export
                    </button>
                </div>
            </div>

            <div class="w-full mt-6 flex border-b border-secondary">
                <a href="#" class="font-semibold text-orange-700 border-b-2 border-orange-700 px-1 pb-3">
                    Overview
                </a>
            </div>

            <div class="w-full flex-grow flex divide-x">
                <div class="w-1/2 py-8 space-y-6">
                    <h2 class="text-primary font-semibold text-lg">Courses</h2>
                    <div class="w-full mt-6 flex gap-3 border-b border-secondary">
                        <a href="#" class="font-semibold text-orange-700 border-b-2 border-orange-700 px-1 pb-3">
                            All
                        </a>
                        <button disabled class="px-1 pb-3 font-semibold text-quarternary disabled:cursor-not-allowed">Available</button>
                        <button disabled class="px-1 pb-3 font-semibold text-quarternary disabled:cursor-not-allowed">Unavailable</button>
                    </div>
                    <div class="rounded-lg border border-secondary overflow-hidden mr-2">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">ID</th>
                                <th scope="col" class="px-6 py-3">Name</th>
                                <th scope="col" class="px-6 py-3">State</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for course in courses %}
                                <tr class="bg-white border-b hover:bg-gray-50 cursor-pointer"
                                    onclick='window.location.href = "{{ path('app_grades_course', {rc_id: course.rcId}) }}"'>
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        {{ course.rcId }}
                                    </th>
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        {{ course.name }}
                                    </th>
                                    <td class="px-6 py-4 text-gray-900 whitespace-nowrap">
                                        {% if course.grades|length > 0 %}
                                            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                                Available
                                            </span>
                                        {% else %}
                                            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
                                                Unavailable
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="w-1/2 py-8 flex flex-col space-y-6 pl-4">
                    {% block course %}
                        {% if course is defined %}
                            <!-- Afficher les informations sur le cours ici -->
                        {% else %}
                            <div class="flex items-center justify-center flex-grow">
                                <p>
                                    Select a course to view its grades
                                </p>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
