{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <main class="h-full w-full flex items-center">
        <twig:Sidebar/>

        <section class="h-full flex-grow py-8">
            <div class="px-8">
                <div>
                    <h1 class="text-primary font-semibold text-3xl">Users</h1>
                    <p class="text-tertiary font-normal">View and manage users</p>
                </div>
            </div>

            <div class="px-8 mt-8">
                <label class="flex px-3.5 py-2.5 relative mb-6">
                    <svg class="z-10 text-quarternary" width="24" height="24" viewbox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M21 21L17.5001 17.5M20 11.5C20 16.1944 16.1944 20 11.5 20C6.80558 20 3 16.1944 3 11.5C3 6.80558 6.80558 3 11.5 3C16.1944 3 20 6.80558 20 11.5Z"
                              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input type="text" name="search" placeholder="Search"
                           class="absolute left-0 top-0 h-full w-full py-2.5 pl-11 border border-secondary rounded-lg custom-shadow-xs max-w-sm"/>
                </label>
                <div class="relative overflow-x-auto sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all-search" type="checkbox"
                                           class="w-4 h-4 text-orange-600 bg-gray-100 border-gray-300 rounded focus:ring-orange-500"/>
                                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">ID</th>
                            <th scope="col" class="px-6 py-3">First Name</th>
                            <th scope="col" class="px-6 py-3">Last Name</th>
                            <th scope="col" class="px-6 py-3">Email</th>
                            <th scope="col" class="px-6 py-3">Roles</th>
                            <th scope="col" class="px-6 py-3">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr class="bg-white border-b hover:bg-gray-50">
                                <td class="w-4 p-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-table-search-1" type="checkbox"
                                               class="w-4 h-4 text-orange-600 bg-gray-100 border-gray-300 rounded focus:ring-orange-500"/>
                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                    </div>
                                </td>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ user.id }}
                                </th>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ user.firstName }}
                                </th>
                                <td class="px-6 py-4 text-gray-900 whitespace-nowrap">
                                    {{ user.lastName }}
                                </td>
                                <td class="px-6 py-4 text-gray-900 whitespace-nowrap">
                                    {{ user.email }}
                                </td>
                                <td class="px-6 py-4 text-gray-900 whitespace-nowrap">
                                    {{ user.roles ? user.roles|json_encode : '' }}
                                </td>
                                <td class="px-6 py-4">
                                    <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
